body{
    background-color:blanchedalmond;
    margin:0;
}
.head-menu{
    background-color:black;
    color:white;
    padding:10px;
    font-family: serif;
    font-weight:bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align:center;
}
.content{
    background-color:rgba(0,152,255,0.7);
    width:20%;
    color:white;
    height:400px;
    opacity:0;
    height:100vh;
}
.menu-button{
    width:50px;
    height:30px;
    padding: 3px;
    background-color:#f00;
    cursor:pointer;
    position:absolute;
    right:0;
    margin-right:-330px;
    margin-top:-45px;
}