body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;

}

.head {
  position: fixed;
  background-color: red;
  height: 110px;
  top: 0;
  right: 0;
  left: 0;
  font-size: xx-large;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 10;

}

.heading-title {
  position: relative;
  margin-top: -20px;
}

.image1 {
  background: white;
  width: 600px;
  height:629px;
  object-fit:cover;
  position: relative;
  display: inline-block;
  border-style: solid;
  margin-top: 5px;
  margin-left: 5px;
  border-color: green;
  
}

img {
  max-width:100%;
  height:auto;
  position:absolute;

}

.title {
  text-align: center;
  margin-left: 3px;
  border-style: solid;
  margin-top:600px;
  background-color: black;
  color: white;
  padding: 3px 10px;
  text-transform: uppercase;
  font-size: bold;
  z-index:100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}

/*
.image1:hover{
  width: 410px;
  height:340px;


}

img:hover{
  width: 410px;px;
  height:310x;
}
  */

.image-display {
  top: 7px;
  display: flex;
  flex-wrap:wrap;
  position: relative;
  border-style: solid;
  margin-top: 100px;
  justify-content: center;
}

.home-link {
  text-align: left;
  font-size: large;
  margin-top: -20px;

}

a {
  color: white;
}

.section {
  color: white;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
  margin-left: -150px;

}

button {
  background: white;
  border-radius: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  display: inline-block;
  border-style: solid;
}


.buttons {
  display: inline-block;
  position: absolute;
  left:560px;
  right:20px;
}
 @media (max-width:394px){
  .head{
   font-size:x-large;
   height:70px;
  }
  .section{
    margin-left:-155px;
    font-size: medium;
  }
  .image-display{
    margin-top:60px;
  }
  .image1{
  height: 407px !important;;
  }
  .title{
    margin-top:380px !important;
  }
  .buttons{
  left:200px;
  right:10px;
  display:absolute;
  }
  .button{
    width: 90px;
  }
 }

 @media (max-width:361px){
  .buttons{
  margin-left:5px;
  }
 }
 @media (max-width:440px){
  .head{
   font-size:x-large;
   height:70px;
  }
  .section{
    margin-left:-155px;
    font-size: medium;
  }
  .image-display{
    margin-top:60px;
  }
  .image1{
    height:452px;
  }
  .title{
    margin-top:425px;
  }
  .buttons{
  left:200px;
  right:10px;
  display:absolute;
  }
  .button{
    width: 90px;
  }
 }

@media (max-width:609px) and (min-width:500px){
  .head{
   font-size:x-large;
   height:70px;
  }
  .section{
    margin-left:-100px;
    font-size: large;
  }
  .image-display{
    margin-top:60px;
  }
  .image1{
    height:595px;
  }
  .title{
    margin-top:568px;
  }
  .buttons{
  left:330px;
  right:20px;
  display:absolute;
  }
  .button{
    width: 90px;
  }
}
@media (max-width:750px) and (min-width:600px){
  .buttons{
  margin-left:-130px;
  }
  .section{
    margin-left:-200px;
  }
}

@media (max-width:355px){
    .buttons{
    margin-left:-30px;

    }
}